html, body {
  margin: 0;

padding: 0;

}

body {
text-align: center;

color: #4d85a4;

font-family: "Roboto", sans-serif;

font-weight: 100;

  }

.nav {
  position: fixed;

z-index: 1;

width: 100%;

height: 60px;

background: #fff;

}

.nav ul {
  height: 60px;

margin: 0 auto;

padding: 0;

list-style: none;

}

.nav ul li {
display: inline-block;

height: 60px;

padding: 0 20px;

list-style: none;

color: #58cb94;

line-height: 60px;

}

.container {
max-width: 940px;

margin: 0 auto;

padding: 0 10px;

}

.btn {
padding: 10px 10px;

text-decoration: none;

color: #4d85a4;

background: #fff;

font-size: 18px;

}

.btn:hover {
padding: 10px 9px;

color: #a4557d;

border: solid 1px;

border-radius: 5px;

}

.header {
height: 936px;

background: url("Elegant_Background-2-1.jpg");

background-size: cover;

}

.header .container {
  position: relative;

top: 170px;

}

.header h1 {
margin-top: 0;

margin-bottom: 80px;

text-transform: uppercase;

color: #fff;

font-size: 115px;

line-height: 100px;

}

.header h2 {
margin-top: 80px;

margin-bottom: 80px;

color: #fff;

font-size: 50px;

font-weight: 500;

line-height: 50px;

}

hr {
  border-top: 3px solid #fff;
}

p, .info ul {
max-width: 940px;

margin-top: 80px;

margin-bottom: 80px;

text-align: left;

font-family: "Courier New";

font-size: 20px;

font-weight: 500;

line-height: 45px;

}

.info ul, h3 {
  margin-top: 25px;

margin-bottom: 0;
  }

h3 {
  text-align: left;

text-indent: 50px;

font-family: "Courier New";

font-size: 30px;
  }

#special_button {
margin: 100px 70px;

padding: 15px 10%;

transition: 1s;

letter-spacing: 10px;

  color: #fff;

border: solid 2px #fff;

border-radius: 10px;

background: linear-gradient(45deg, #4d85a4, #7c3060, #e1e388, #42a157);

text-shadow: 3px 1px 1px #909090;

font-size: 30px;

  }

#special_button:hover {
transition: .5s;

border-color: #265f7e;

text-shadow: 3px 1px 1px #265f7e;

}
